<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Url Shortener</h2>
    <div>
        <form method="post" action="/url/new">
            <label>Enter your Original URL</label>
            <input type="text" name="redirect_url" placeholder="www.example.com">
            <button type="submit">Generate</button>
        </form>
    </div>
    <div style="margin-top: 20px;">
        <% if (locals.urls) { %>
        <table>
            <tr>
                <th>S.No</th>
                <th>Short Id</th>
                <th>Redirect URL</th>
                <th>Actions</th>
            </tr>
            <tbody>
                <% urls.forEach((url,index)=> { %>
                <tr>
                    <td>
                        <%= index+1 %>
                    </td>
                    <td>
                        <%= url.shortId %>
                    </td>
                    <td>
                        <%= url.redirectUrl %>
                    </td>
                    <td>
                        <a href="/url/delete/<%= url.shortId %>" onclick="deleteUrl()"><button>Delete</button></a>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <% } %>
    </div>
</body>
<script>
    function deleteUrl() {
        return window.alert('are tou sure you want to delete?')
    }
</script>

</html>