<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>Signup</h1>
    <form method="post" action="/user/login">
        <div>
            <label>Email</label>
            <input type="text" required name="email">
        </div>
        <div style="margin-top: 20px;">
            <label>Password</label>
            <input type="text" required name="password">
        </div>
        <button style="margin-top: 20px;" type="submit">Login</button>
    </form>
    <% if (locals.invalidUser) { %>
        <p style="color: red;">Invalid Username or Password</p>
        <% } %>
</body>

</html>