<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>

<body>
    <h1>Signup</h1>
    <form method="post" action="/user">
        <div>
            <label>Full Name</label>
            <input type="text" required name="name">
        </div>
        <div style="margin-top: 20px;">
            <label>Email</label>
            <input type="text" required name="email">
        </div>
        <div style="margin-top: 20px;">
            <label>Password</label>
            <input type="text" required name="password">
        </div>
        <div style="margin-top: 20px;">
            <label>Role</label>
            <input type="text" required name="role">
        </div>
        <button style="margin-top: 20px;" type="submit">Sign Up</button>
    </form>
</body>

</html>