html
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD' crossorigin='anonymous')
body
    include nav.pug  
    div.container.mt-3
        form(id='todo' action='/todo/add-new' method='post')
            div.mb-3
                label.form-label(for='title') Title
                input#title.form-control(type='text' name='title' minlength=3 aria-describedby='title' required='')
            div.mb-3
                label.form-label(for='isCompleted') Is Completed
                select#isCompleted.form-control(name='isCompleted' aria-describedby='isCompleted' required='')
                    option(value='True') True
                    option(value='False') False
            div.mb-3
                button.btn.btn-primary(type='submit') Submit